[user]
	name = Peter-Chou
	email = zhou_00009@126.com

[core]
	autocrlf = false
	filemode = false

[alias]
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	# # Show the diff between the latest commit and the current state
	# d	= !"git diff"
	# # `git di $number` shows the diff between the state `$number` revisions ago and the current state
	# di	= !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
	d   = diff
	t = tag
	cm	= commit
	cl	= clone
	pu = push
	br	= branch -v
	st	= status
	s = status -s
	co	= checkout
	rb = rebase
	untrack = rm -r --cached
	# sm	= submodule
	# ci	= commit -a -v
	unst = reset HEAD
	throw	= reset --hard HEAD
	throwh	= reset --hard HEAD^
	clr	= clean -fdx -f
	last	= log -1
	slog	= log --pretty=oneline	

	# fetch
  	fetchall = fetch -v --all
    # stash
    ss = stash
    sl = stash list
    sa = stash apply


	# accept-ours = "!f() { git checkout --ours -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
	# accept-theirs = "!f() { git checkout --theirs -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
	# tagcommit = !sh -c 'git rev-list $0 | head -n 1'
[color]
	ui = always
    diff = always
    status = always
    grep = always
# [color "branch"]
#     current = yellow reverse
#     local = yellow
#     remote = green
# [color "diff"]
#     meta = black bold
#     old = black bold
#     new = cyan bold
#     frag = magenta bold
[merge]
	tool = code
